#!/usr/bin/make -f

override_dh_auto_install:
	dh_auto_install -- prefix=/usr
	mkdir -p debian/passt/etc/apparmor.d/
	cp contrib/apparmor/usr.bin.passt debian/passt/etc/apparmor.d/usr.bin.passt
	dh_apparmor --profile-name=usr.bin.passt -ppasst
	cp contrib/apparmor/usr.bin.pasta debian/passt/etc/apparmor.d/usr.bin.pasta
	dh_apparmor --profile-name=usr.bin.pasta -ppasst

%:
	dh $@
